<launch>
  <include file="$(find scanProcessing)/launch/play.launch"/>

  <node type="pointRegistration" pkg="scanProcessing" name="point_registeration" output="screen">
  </node>
  <node type="lineFitting" pkg="scanProcessing" name="line_fitting">
  </node> 
  <node type="rviz" pkg="rviz" name="rviz" args="-d $(find scanProcessing)/rowDetectionView.vcg"/>
  <node type="reconfigure_gui" pkg="dynamic_reconfigure" name="dynamic_reconfigure" />
</launch>
